@model RecipeTastic.ViewModels.RecipeBookViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "RecipeBooks"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.RecipeBook.RecipeTitle)
        @Html.TextBoxFor(m => m.RecipeBook.RecipeTitle, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RecipeBook.CuisineId)
        @Html.DropDownListFor(m => m.RecipeBook.CuisineId, new SelectList(Model.Cuisines, "CuisineId", "CuisineName"), "Select Cuisine", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RecipeBook.Ingredients)
        @Html.TextBoxFor(m => m.RecipeBook.Ingredients, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RecipeBook.ReadyInMinutes)
        @Html.TextBoxFor(m => m.RecipeBook.ReadyInMinutes, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RecipeBook.Servings)
        @Html.TextBoxFor(m => m.RecipeBook.Servings, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.RecipeBook.RecipeBookId)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
@section scripts
{
    @Scripts.Render("~/bundles/jquery")
}

