@model IEnumerable<RecipeTastic.Models.Grocery>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("Add Grocery", "New","Groceries",new { @class="btn btn-primary"})
</p>
<h2>Summary</h2>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Grocery Name</th>
        <th>Grocery Comment</th>
        <th>Edit</th>
        <th>Delete</th>
        </tr>     
    </thead>
    <tbody>
        @foreach (var Grocery in Model)
        {
            <tr>
                <td>@Grocery.GroceryName</td>
                <td>@Grocery.GroceryComment</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = Grocery.GroceryId })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = Grocery.GroceryId })</td>
            </tr>
        }
</table>

